$card-bg: white;

.title2{
  font-size: 90px;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  padding-bottom: 10px;
  color: white;
  background-color: black;
  text-align: center;
}  

#exp-section{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  color: black;
  overflow-x: hidden;
  height: 100%;

  .education-card{
    background-color: $card-bg;
    color: black;
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;

    img{
      padding-right: 50px;
      width: 250px;
      text-align: center;
      align-items: center;
    }
  }
}

.horizontal-scrolling-items {
  display: flex;
  width: 2600px;
  height: 100%;
  animation-name: infiniteScroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items__item {
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}