@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

$background: #f18271;
$font: black;
$card: white;
$info: black;
$sub-info: #5A6057;
$sub-info-no-bg: #E0E2DF;

#companies{
  background: linear-gradient(-45deg, #354394 0%, #7b5fac 25%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f7c978 100%);
  background-size: 400% 400%;
  position: relative;
  animation: animate 15s ease-in-out infinite;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    font-size: 90px;
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 50px;
  }  

  .left-card{
    background-color: $card;
    padding: 40px;
    border-radius: 20px;
    color: $font;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px black;

    .left-text{
      padding-left: 50px;
      width: 600px;
      font-size: 26px;

      h2{
        color: $info;
        font-size: 50px;
      }
      h3, h4{
        color: $sub-info;
        font-size:20px;
      }

      span{
        font-size: 20px;
      }
    }

    img{
      width: 400px;
      border-radius: 20px;
    }
  }

  .right-card{
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .right-text{
      padding-left: 50px;
      width: 600px;
      font-size: 26px;

      h2{
        font-size: 50px;
      }
      h3, h4{
        color: $sub-info-no-bg;
        font-size:20px;
      }

      span{
        font-size: 20px;
      }
    }

    img{
      width: 400px;
      border-radius: 20px;
    }
  }
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}