<div class="education-card">
  <img src="src/education/estacio.png">
  <h2>Estacio</h2>
  <h3>Analysis and System development</h3>
  <h4>Associate's degree</h4>
  <h4>2020 - 2022</h4>
  
  <span>
    Here I learned about web development and Cloud, I also studied:
    <ul>
      <li>How client-server side works</li>
      <li>How to build website and mobile apps</li>
      <li>Linux and AWS</li>
      <li>Algorithm and DataStructures</li>
    </ul>
  </span>
</div>

<div class="education-card">
  <img src="src/education/odin.png">
  <h2>The Oding Project</h2>
  <h3>Fullstack Ruby On Rails</h3>
  <h4>Course</h4>
  <h4>2022</h4>
  
  <span>
    Here I learned everything about Ruby on Rails, this is also the place
    where I learnd about how to learn anything through documentation.
  </span>
</div>

<div class="education-card">
  <img src="src/education/freecodecamp.png">
  <h2>FreeCode Camp</h2>
  <h3>Fullstack JavaScript, CSS and HTML</h3>
  <h4>Course</h4>
  <h4>2021</h4>
  
  <span>
    Here I learned everything about JavaScript, EcmaScript, Node JS, Express
    and CSS with Sass.
  </span>
</div>