<link rel="stylesheet" href="css/education.css">

<h1 class="title2">My Education...</h1>

<section id="exp-section">
  <div class="horizontal-scrolling-items">

    <div class="education-card horizontal-scrolling-items__item">
      <div>
        <img src="src/education/estacio.png">
      </div>
  
      <div>
        <h2>Estacio</h2>
        <h3>Analysis and System development</h3>
        <h4>Associate's degree</h4>
        <h4>2020 - 2022</h4>
        
        <span>
          Here I learned about web development, Cloud, Linux and Algorithms
        </span>
      </div>
    </div>
    
    <div class="education-card horizontal-scrolling-items__item">
      <div>
        <img src="src/education/odin.png">
      </div>
      
      <div>
        <h2>The Oding Project</h2>
        <h3>Fullstack Ruby On Rails</h3>
        <h4>Course</h4>
        <h4>2022</h4>
        
        <span>
          Here I learned everything about Ruby on Rails, this is also the place
          where I learnd about how to learn anything through documentation.
        </span>
      </div>
    </div>
    
    <div class="education-card horizontal-scrolling-items__item">
      <div>
        <img src="src/education/freecodecamp.png">
      </div>
      
      <div>
        <h2>FreeCode Camp</h2>
        <h3>Fullstack JavaScript, CSS and HTML</h3>
        <h4>Course</h4>
        <h4>2021</h4>
        
        <span>
          Here I learned everything about JavaScript, EcmaScript, Node JS, Express
          and CSS with Sass.
        </span>
      </div>
    </div>
    
    <div class="education-card horizontal-scrolling-items__item">
      <div>
        <img src="src/education/linuxtips.png">
      </div>
  
      <div>
        <h2>Linux Tips</h2>
        <h3>AWS Expert</h3>
        <h4>Course</h4>
        <h4>2024</h4>
        
        <span>
          Here I learned everything about AWS Architect, EC2, VPC, ELB,
          CloudWatch, Elastic Beanstalk and S3
        </span>
      </div>
    </div>
    
  </div>
</section>