  <div class="company-card">
    <img src="src/companies/icertus.png">
    <h2>iCertus</h2>
    <h3>Aug 2022 - Aug 2023</h3>
    <h4>FullTime Job</h4>

    <span>
      I worked as a Ruby on Rails developer dealing with
      bugs in production, refactoring, making async requests using
      Sidekiq and Redis, I also worked with mailers.

      I Also did:
      <ul>
        <li>Code review in entry-level developers tasks</li>
        <li>I made a middleware for a company-partner</li>
        <li>I made webhooks for financial transactions</li>
        <li>I made deploys using heroku</li>
      </ul>
    </span>
  </div>
  <div class="company-card">
    <img src="src/companies/bycoders.png">
    <h2>ByCoders</h2>
    <h3>Jul 2023 - Jul 2024</h3>
    <h4>FullTime Job</h4>

    <span>
      I worked in projects related to payment Plugins, amoung many
      partners, I worked with: Paypal, Cielo and PagHiper.

      In this job I did:
      <ul>
        <li>Deploys using AWS Elastic Beanstalk</li>
        <li>Async requests with Sidekiq and Redis</li>
        <li>I also did deploys using Heroku</li>
        <li>I made some sreens using Hotwire and Stimmulus.JS</li>
        <li>I worked in other projects using Nextjs and NextJS</li>
      </ul>
    </span>
  </div>
  <div class="company-card">
    <img src="src/companies/beorange.jpg">
    <h2>BeOrange</h2>
    <h3>Sep 2023 - Present</h3>
    <h4>Part-Time Job</h4>
    
    <span>
      I'm working making an ERP system from scracth for an Accounting office
      In this I also do some deploys using Heroku and I also work with
      Sidekiq, Stimmulus.JS and Hotwire.

      Apart from that, I'm helping other teams with an IA, but I'm only
      doing the ETL to that project.
    </span>
  </div>
  <div class="company-card">
    <img src="src/companies/cd2.jpg">
    <h2>CD2</h2>
    <h3>Nov 2021 - Apr 2022</h3>
    <h4>Fulltime Job</h4>

    <span>
      That's my only experience working with Java Spring Boot and
      Angular.JS, in this job worked with a 
      inventory management system for a retail supermarket chain.

      Most part of my job was doing bugfixes for some screens with AngularJS.
    </span>


  </div>

  <div class="company-card">
    <img src="src/companies/freelancer.png">
    <h2>Freelance jobs</h2>
    <h3>Nov 2021 - present</h3>

    <span>
      <ul>
        <li>I did an API integration with pipefy to a company called Rossi & Barros</li>
        <li>I made some screens using CSS to a company called Sign Audit & Advisory</li>
        <li>With my friends in the college we refactored some python tests for a open source 
          project called Home Assistant</li>         
      </ul>
    </span>
  </div>